
:root {
    --gradient-gradient-gradient-1: linear-gradient(
          212.58deg,
          #1062fe 0%,   
          #874ce6 87.2%  
        )
        ;     
    --gradient-gradient-gradient-2: linear-gradient(
          158.37deg,
          #6ac883 0%,   
          #5292ff 46.2%,   
          #be9ff0 91.5%  
        )
        ;     
}