
:root {
    --shadow-raised: 0 2px 3px -3px rgba(20,23,31,0.1), 0 1px 3px -1px rgba(20,23,31,0.06);   

    --shadow-overlay: 0 5px 10px 0 rgba(20,23,31,0.05), 0 15px 25px 0 rgba(20,23,31,0.07);   

}