$colorStudioDarkmodeMaincta457eff: #457eff;    
$colorStudioDarkmodeAllwhiteFfffff: #ffffff;    
/* Color that keeps a contrast ratio above AA when XX.main is used as a bg. color */
$colorPrimaryContrast: #ffffff;    
$colorBaseGreen700: #007a1c;    
$colorBorderNeutralFaded: #eceef3;    
/* Positive border color. */
$colorBorderPositive: #007a1c;    
$colorBaseBlue700: #014ee1;    
/* Neutral foreground color. Use for icons and text. */
$colorForegroundNeutral: #000000;    
/* Default border used for outlining elements. */
$colorBorderNeutral: #e6e8ef;    
/* Primary background for pages. */
$colorBackgroundPage: #ffffff;    
/* Subtle foreground color. Use for secondary or placeholder text. */
$colorForegroundNeutralFaded: #606981;    
/* Primary foreground color. Use for primary components and text, such as links. */
$colorForegroundPrimary: #014ee1;    
/* Primary foreground color. Use for accent components and text. */
$colorForegroundSecondary: #874ce6;    
/* Use for disabled foreground components and text. */
$colorForegroundDisabled: #c6ccdb;    
/* Positive foreground color. Use for positive components and text (i.e. Success message) */
$colorForegroundPositive: #007a1c;    
/* Secondary border color. */
$colorBorderSecondary: #874ce6;    
/* Border color for focus states. */
$colorBorderFocus: #5292ff;    
/* Secondary positive border color. */
$colorBorderSecondaryFaded: #d9c8f5;    
/* Primary border color. */
$colorBorderPrimary: #014ee1;    
/* Subtle primary border color. */
$colorBorderPrimaryFaded: #d1e2ff;    
/* Subtle positive border color. */
$colorBorderPositiveFaded: #b4e9c5;    
/* Background for components using a secondary (accent) color. */
$colorBackgroundSecondary: #874ce6;    
/* Secondary (alternate) background for pages or other components. */
$colorBackgroundNeutral: #f6f7f9;    
/* Highlighted background for components using a secondary color, for example, a hover state. */
$colorBackgroundSecondaryHighlighted: #a275ea;    
/* Light background for components used with secondary color. Can be combined with Foreground / Secondary. */
$colorBackgroundSecondaryFaded: #f5f2fd;    
/* Background for primary components. */
$colorBackgroundPrimary: #014ee1;    
/* Background for components used with a positive semantic meaning. */
$colorBackgroundPositive: #007a1c;    
/* Highlighted background for primary components, for example, a hover state. */
$colorBackgroundPrimaryHighlighted: #1062fe;    
/* Highlighted background for positive components, for example, a hover state. */
$colorBackgroundPositiveHighlighted: #35a24f;    
/* Light background for primary components. Can be combined with Foreground / Primary. */
$colorBackgroundPrimaryFaded: #ecf5ff;    
/* Light background for components used with a positive semantic meaning. Can be combined with Foreground / Positive. */
$colorBackgroundPositiveFaded: #ebfef6;    
$colorBaseWhite: #ffffff;    
$colorBaseGray200: #f6f7f9;    
$colorBaseBlack: #000000;    
$colorBaseGray300: #e6e8ef;    
$colorBaseGray500: #c6ccdb;    
$colorBaseGray600: #7f8594;    
$colorBaseGray700: #606981;    
$colorBasePurple200: #f5f2fd;    
$colorBasePurple300: #d9c8f5;    
$colorBasePurple500: #be9ff0;    
$colorBasePurple600: #a275ea;    
$colorBasePurple700: #874ce6;    
$colorBaseBlue200: #ecf5ff;    
$colorBaseBlue300: #d1e2ff;    
$colorBaseBlue500: #5292ff;    
$colorBaseBlue600: #1062fe;    
$colorBaseGreen200: #ebfef6;    
$colorBaseGreen300: #b4e9c5;    
$colorBaseGreen500: #6ac883;    
$colorBaseGreen600: #35a24f;    
/* For use in combination with Blur tokens. */
$colorBackgroundBlur: #ffffffcc;    
/* For use in combination with Blur tokens. */
$colorBackgroundBlurNeutral: #606981cc;    
/* To be used on Primary and Primary Highlighted background colors. */
$colorOnBackgroundPrimary: #ffffff;    
$colorBaseOrange200: #ffcc80;    
$colorBaseOrange300: #ffb74d;    
$colorBaseOrange500: #ff9800;    
$colorBaseOrange600: #fb8c00;    
$colorBaseOrange700: #f57c00;    
$colorBlueBlue200: #ecf5ff;    
$colorGrayGray200: #f6f7f9;    
$colorGrayGray300: #e6e8ef;    
$colorGrayGray500: #c6ccdb;    
$colorGrayGray600: #7f8594;    
$colorGrayGray700: #606981;    
$colorBlueBlue300: #d1e2ff;    
$colorBlueBlue500: #5292ff;    
$colorBlueBlue600: #1062fe;    
$colorBlueBlue700: #014ee1;    
$colorGreenGreen200: #ebfef6;    
$colorGreenGreen300: #b4e9c5;    
$colorGreenGreen500: #6ac883;    
$colorGreenGreen600: #35a24f;    
$colorGreenGreen700: #007a1c;    
$colorPurplePurple200: #f5f2fd;    
$colorPurplePurple300: #d9c8f5;    
$colorPurplePurple500: #be9ff0;    
$colorPurplePurple600: #a275ea;    
$colorPurplePurple700: #874ce6;    
$colorWhite: #ffffff;    
$colorBlack: #000000;    
$colorRedRed200: #ef9a9a;    
$colorRedRed300: #e57373;    
$colorRedRed500: #f44336;    
$colorRedRed600: #e53935;    
$colorRedRed700: #d32f2f;    
$colorOrangeOrange200: #ffcc80;    
$colorOrangeOrange300: #ffb74d;    
$colorOrangeOrange500: #ff9800;    
$colorOrangeOrange600: #fb8c00;    
$colorOrangeOrange700: #f57c00;    
