
.typographyHeadingHeading2 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBodyBody2 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyHeadingHeading3 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBodyBody3 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBodySmallWeightSemibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyHeadingHeading1 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBodyBody1 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Default text for everything */
.typographyBodyDefaultWeightSemibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyBodyBody4 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyHeadingHeading2 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBodyBody2 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyHeadingHeading3 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBodyBody3 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBodySmallWeightSemibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyHeadingHeading1 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBodyBody1 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

/* Default text for everything */
@mixin typographyBodyDefaultWeightSemibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyBodyBody4 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

